body {
      /*Font of in body*/
      font-family: Arial, Helvetica, sans-serif;
    }
    /*Styling of header*/

    /*Styling*/
    .header {
      padding: 80px;
      text-align: center;
      background: #e2e2e2;
      color: black;
    }
    /*Increase size of h1*/
    .header h1 {
      font-size: 40px;
    }

    /*Content of website*/

    /*Proper sizing*/
    * {
      box-sizing: border-box;
    }
    /*Columns container*/
    .content {
      display: flex;
      flex-direction: column;
    }
    /*Main column*/
    .context {
      flex: 30%;
      background-color: white;
      padding: 20px;
    }
    /*Side columns*/
    .map {
      flex: 70%;
      background-color: #f1f1f1;
      padding: 20px;
    }
    /*Styling footer*/
    .footer {
    	padding: 20px;
        text-align: center;
        background: #ddd;
    }
    .footer p {
        text-align: left;
    }
