@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

/*Body Font*/
body #fullSidebar #fullNavbar {
  font-family: "Roboto", sans-serif;
}

/*Navbar and Sidebar */
.navbar-custom {
  background-color: #010101;
  color: #a8a8a8;
}
/*Sidebar Toggler Color*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(204,204,204, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Sidebar Options*/
#fullSidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
/*Text Color Change Animation of Options*/
#fullSidebar a:hover {
  color: #f1f1f1;
}
/*Header*/
#header {
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  background: #eeeeee;
  color: black;
}
/*Context*/
#context {
  background-color: white;
}
/*Map*/
#map {
  background-color: #cccccc;
}
.nashville {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 379px;
}
.bna {
  position: relative;
  top: 10;
  left: 10;
  width: 400px;
  height: 379px;
}
.vu {
  position: relative;
  top: 20;
  left: 20;
  width: 40px;
  height: 37px;
}

.cga {
  position: relative;
  top: 30;
  left: 30;
  width: 40px;
  height: 37px;
}

.mndes {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 37px;
}
/*footer*/
#footer {
  background-color: #bbbbbb;
  color: #a8a8a8;
}
