@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

/*Global Styling*/
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/*Body Font*/
body {
  font-family: "Roboto", sans-serif;
}

/* Sidebar section*/
.sidebar {
  /*Sidebar section*/
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
/*Sidebar spacing*/ 
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/*Text Color Change Animation*/
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*Open Icon*/

/**/
.openbtn  {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
}
/*Background Color Change Animation*/
.openbtn:hover {
  background-color: #444;
}
/*Top section where the sidebar icon is located */
.main {
  transition: margin-left 0.5s;
  padding: 16px;
}
/*End of sidebar section*/ /*No appearant use*/
.title {
  margin-left: 0px; /* Same as the width of the sidenav /
  font-size: 28px; / Increased text to enable scrolling */
  padding: 0px 10px;
}
/*Responsive Part of Sidebar*/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
