@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* Sidebar section*/
.sidebar { /*Sidebar section*/
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a /*Sidebar spacing*/{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn /*Open icon*/{
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
}

.openbtn:hover {
  background-color: #444;
}

#main /*Top section where the sidebar icon is located */ {
  transition: margin-left .5s;
  padding: 16px;
}
   /*End of sidebar section*/
.title {
  margin-left: 0px; /* Same as the width of the sidenav /
  font-size: 28px; / Increased text to enable scrolling */
  padding: 0px 10px;
}

.box /* Box to ensure that nothing overflow */{
    border:1px solid white;
    width:auto;
    overflow: scroll;
    box-sizing: border-box;
}

h2 /*The section names*/ {
    text-decoration: underline;
    text-align: center
}

.centered /*Location text in the middles of title picture*/ {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  
  font-size: 50px;
  text-align: center;
}
#hp /*The side pictures on the left*/  {
    float: left;
    margin: 0 15px;
    width: 390px;
    height:290px;
    vertical-align:left
}
#hp2 /*The side pictures on the right*/ {
    float: right;
    margin: 0 15px;
    width: 330px;
    height:230px;
    vertical-align:right
}
.text-box {
     border:1px solid black;
    width:1050px;
    height:300px;
    overflow: scroll;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
 
.Location{ /*Location title picture*/
  position: relative;
  text-align: center;
  color: white;
 
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
