
/*Font of the Body*/
body {
  font-family: Arial, Helvetica, sans-serif;
}


/*Body of Opened Sidebar*/
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
/*Header of Opened Sidebar*/
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
/*Text of Sidebar*/
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
/*Movement when hovering*/
ul li:hover a {
  padding-left: 50px;
}
/*Gap Between Icons and Text*/
.sidebar ul a i {
  margin-right: 16px;
}
/*Unknown*/
#check {
  display: none;
}
/*Exit Button & Collpased Menus Square*/
label #open, label #exit {
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}

/*Collapsed Menu*/

/*Three Line Icon*/
label #open {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
/*X in Exit Button*/
label #exit {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
/*Horizontal Value for Opened Menu*/
#check:checked ~ .sidebar {
  left: 0;
}
/*Collpased Menu Icon when Menu is Opened*/
#check:checked ~ label #open {
  left: 150px;
  opacity: 0;
  pointer-events: none;
}
/*Position of Exit Button*/
#check:checked ~ label #exit {
  left: 195px;
}
/*Position of Opened Menu*/
#check:checked ~ section {
  margin-left: 250px;
}
/*Unknown*/
section {
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

/*Styling of header*/

    /*Styling*/
    .header {
      padding: 80px;
      text-align: center;
      background: #e2e2e2;
      color: black;
    }
    /*Increase size of h1*/
    .header h1 {
      font-size: 40px;
    }

    /*Content of website*/

    /*Proper sizing*/
    * {
      box-sizing: border-box;
    }
    /*Columns container*/
    .content {
      display: flex;
      flex-direction: column;
    }
    /*Main column*/
    .context {
      flex: 30%;
      background-color: white;
      padding: 20px;
    }
    /*Side columns*/
    .map {
      flex: 70%;
      background-color: #f1f1f1;
      padding: 20px;
    }
    /*Styling footer*/
    .footer {
    	padding: 20px;
        text-align: center;
        background: #ddd;
    }
    .footer p {
        text-align: left;
    }
