@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
/*Font of the Body*/
body {
  font-family: 'Roboto', sans-serif;
}
/*Body of Opened Sidebar*/
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
/*Header of Opened Sidebar*/
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
/*Text of Sidebar*/
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
/*Movement when hovering*/
ul li:hover a {
  padding-left: 50px;
}
/*Gap Between Icons and Text*/
.sidebar ul a i {
  margin-right: 16px;
}
/*Unknown*/
#check {
  display: none;
}
/*Exit Button & Collpased Menus Square*/
label #open, label #exit {
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}

/*Collapsed Menu*/

/*Three Line Icon*/
label #open {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
/*X in Exit Button*/
label #exit {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
/*Horizontal Value for Opened Menu*/
#check:checked ~ .sidebar {
  left: 0;
}
/*Collpased Menu Icon when Menu is Opened*/
#check:checked ~ label #open {
  left: 150px;
  opacity: 0;
  pointer-events: none;
}
/*Position of Exit Button*/
#check:checked ~ label #exit {
  left: 195px;
}
/*Position of Opened Menu*/
#check:checked ~ section {
  margin-left: 250px;
}
/*Unknown*/
section {
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.title {
  margin-right: 10px;
  /* Same as the width of the sidenav /
  font-size: 28px; / Increased text to enable scrolling */
  padding: 0px 10px;
}

.box {
  border: 1px solid white;
  width: 1050px;
  overflow: scroll;
}

h2 {
  text-decoration: underline;
  text-align: center
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;

  font-size: 50px;
  text-align: center;
}
#image1 {
  float: left;
  margin: 0 15px;
  width: 390px;
  height: 290px;
  vertical-align: left
}
#image3 {
  float: right;
  margin: 0 15px;
  width: 330px;
  height: 230px;
  vertical-align: right
}
.text-box {
  border: 1px solid black;
  width: 1050px;
  height: 300px;
  overflow: scroll;
}
.clearfix::after {
  /*content: "";*/
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}

.Location {
  position: relative;
  text-align: center;
  color: white;
}

/*Resizes old sidebar dependign on screen size*/
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
